
<div class="card-panel white indigo-text">


      <block class="flow-text">
      <%= message.content.html_safe %>
      </block>
<hr>
<div class="grey-text darken-2 right-align">
  <%= message.user.email %>  |
  <%= message.created_at.strftime("%b %d %Y") %>
   @ <%= message.created_at.strftime("%H:%M") %>  |
  <%= time_ago_in_words(message.created_at) %> ago.
</div>
</div>
</div>

